{% extends "base.html" %}
{% load static %}


{% block content %}

    <!-- <div class="fixed top-0 left-0 right-0 z-50">
      <div
        class="bg-[#8bc83f] text-white text-xs py-2 px-20 flex justify-between items-center  max-md:px-6">
        <div>Welcome to Our Real Estate Platform</div>
        <div class="space-x-4 flex">

          <a href="#" class="hover:text-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              viewBox="0 0 24 24"><path fill="#fff"
                d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95" /></svg>
          </a>
          <a href="#" class="hover:text-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              viewBox="0 0 24 24"><g fill="none" stroke="#fff"
                stroke-linecap="round" stroke-linejoin="round"
                stroke-width="1.5"><path
                  d="M2.5 12c0-4.478 0-6.718 1.391-8.109S7.521 2.5 12 2.5c4.478 0 6.718 0 8.109 1.391S21.5 7.521 21.5 12c0 4.478 0 6.718-1.391 8.109S16.479 21.5 12 21.5c-4.478 0-6.718 0-8.109-1.391S2.5 16.479 2.5 12" /><path
                  d="M16.5 12a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0m1.008-5.5h-.01" /></g></svg>
          </a>
          <a href="#" class="hover:text-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              viewBox="0 0 24 24"><path fill="#fff"
                d="M12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01A9.82 9.82 0 0 0 12.04 2m.01 1.67c2.2 0 4.26.86 5.82 2.42a8.23 8.23 0 0 1 2.41 5.83c0 4.54-3.7 8.23-8.24 8.23c-1.48 0-2.93-.39-4.19-1.15l-.3-.17l-3.12.82l.83-3.04l-.2-.32a8.2 8.2 0 0 1-1.26-4.38c.01-4.54 3.7-8.24 8.25-8.24M8.53 7.33c-.16 0-.43.06-.66.31c-.22.25-.87.86-.87 2.07c0 1.22.89 2.39 1 2.56c.14.17 1.76 2.67 4.25 3.73c.59.27 1.05.42 1.41.53c.59.19 1.13.16 1.56.1c.48-.07 1.46-.6 1.67-1.18s.21-1.07.15-1.18c-.07-.1-.23-.16-.48-.27c-.25-.14-1.47-.74-1.69-.82c-.23-.08-.37-.12-.56.12c-.16.25-.64.81-.78.97c-.15.17-.29.19-.53.07c-.26-.13-1.06-.39-2-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.12-.24-.01-.39.11-.5c.11-.11.27-.29.37-.44c.13-.14.17-.25.25-.41c.08-.17.04-.31-.02-.43c-.06-.11-.56-1.35-.77-1.84c-.2-.48-.4-.42-.56-.43c-.14 0-.3-.01-.47-.01" /></svg>
          </a>
        </div>
      </div>

      <nav class="bg-white shadow-md py-2 px-20 relative  max-md:px-6">
        <div class="container mx-auto flex justify-between items-center">
          <a href="index.html">
            <img src="./static/images/logo.png" alt="Logo"
              class="h-14 w-auto" />
          </a>

          <ul class="hidden md:flex space-x-10 text-gray-700 navbar-times">
            <li><a href="index.html" class="hover:text-[#8bc83f]">Home</a></li>
            <li><a href="about.html" class="hover:text-[#8bc83f]">About
                Us</a></li>
            <li><a href="properties.html"
                class="hover:text-[#8bc83f]">Properties</a></li>
            <li><a href="agents.html"
                class="hover:text-[#8bc83f]">Agents</a></li>
            <li><a href="blogs.html" class="hover:text-[#8bc83f]">Blogs</a></li>
            <li><a href="contact.html" class="text-[#8bc83f]">Contact</a></li>
          </ul>

          <a href="agent_login.html"
            class="hidden md:flex ml-4 border border-[#8bc83f] text-[#8bc83f] px-6 py-2 items-center gap-2 hover:bg-[#76ad33] hover:text-white transition rounded">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
              viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-dasharray="28"
                stroke-dashoffset="28" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2">
                <path d="M4 21v-1c0 -3.31 2.69 -6 6 -6h4c3.31 0 6 2.69 6 6v1">
                  <animate fill="freeze" attributeName="stroke-dashoffset"
                    dur="0.4s" values="28;0" />
                </path>
                <path
                  d="M12 11c-2.21 0 -4 -1.79 -4 -4c0 -2.21 1.79 -4 4 -4c2.21 0 4 1.79 4 4c0 2.21 -1.79 4 -4 4Z">
                  <animate fill="freeze" attributeName="stroke-dashoffset"
                    begin="0.4s" dur="0.4s" values="28;0" />
                </path>
              </g>
            </svg>
            Login
          </a>

          <div class="md:hidden">
            <button id="mobile-menu-btn"
              class="text-[#8bc83f] focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7"
                fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>
        </div>

        <div id="mobile-menu"
          class="fixed top-0 right-0 w-[90%] h-full bg-white shadow-lg z-50 transform translate-x-full transition-transform duration-300 ease-in-out">
          <div class="p-6 flex justify-end">
            <button id="close-menu"
              class="text-gray-700 text-2xl">&times;</button>
          </div>
          <ul class="flex flex-col items-start space-y-6 p-6 text-gray-700">
            <li><a href="index.html" class="hover:text-[#8bc83f]">Home</a></li>
            <li><a href="about.html" class="hover:text-[#8bc83f]">About
                Us</a></li>
            <li><a href="properties.html"
                class="hover:text-[#8bc83f]">Properties</a></li>
            <li><a href="agents.html"
                class="hover:text-[#8bc83f]">Agents</a></li>
            <li><a href="blogs.html" class="hover:text-[#8bc83f]">Blogs</a></li>
            <li><a href="contact.html"
                class="text-[#8bc83f]">Contact</a></li>
            <li><a href="agent_login.html"
                class="text-[#8bc83f] border border-[#8bc83f] px-4 py-2 rounded hover:bg-[#8bc83f] hover:text-white">Login</a></li>
          </ul>
        </div>
      </nav>
    </div> -->
<div class="fixed top-0 left-0 right-0 z-50">
  <div class="bg-[#8bc83f] text-white text-xs py-2 px-6 md:px-20 flex justify-between items-center">
    <div>Welcome to Our Real Estate Platform</div>
    <div class="space-x-4 flex">
      <a href="#" class="hover:text-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <path fill="#fff"
            d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95" />
        </svg>
      </a>
      <a href="#" class="hover:text-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
            <path
              d="M2.5 12c0-4.478 0-6.718 1.391-8.109S7.521 2.5 12 2.5c4.478 0 6.718 0 8.109 1.391S21.5 7.521 21.5 12c0 4.478 0 6.718-1.391 8.109S16.479 21.5 12 21.5c-4.478 0-6.718 0-8.109-1.391S2.5 16.479 2.5 12" />
            <path d="M16.5 12a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0m1.008-5.5h-.01" />
          </g>
        </svg>
      </a>
      <a href="#" class="hover:text-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              viewBox="0 0 24 24"><path fill="#fff"
                d="M12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01A9.82 9.82 0 0 0 12.04 2m.01 1.67c2.2 0 4.26.86 5.82 2.42a8.23 8.23 0 0 1 2.41 5.83c0 4.54-3.7 8.23-8.24 8.23c-1.48 0-2.93-.39-4.19-1.15l-.3-.17l-3.12.82l.83-3.04l-.2-.32a8.2 8.2 0 0 1-1.26-4.38c.01-4.54 3.7-8.24 8.25-8.24M8.53 7.33c-.16 0-.43.06-.66.31c-.22.25-.87.86-.87 2.07c0 1.22.89 2.39 1 2.56c.14.17 1.76 2.67 4.25 3.73c.59.27 1.05.42 1.41.53c.59.19 1.13.16 1.56.1c.48-.07 1.46-.6 1.67-1.18s.21-1.07.15-1.18c-.07-.1-.23-.16-.48-.27c-.25-.14-1.47-.74-1.69-.82c-.23-.08-.37-.12-.56.12c-.16.25-.64.81-.78.97c-.15.17-.29.19-.53.07c-.26-.13-1.06-.39-2-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.12-.24-.01-.39.11-.5c.11-.11.27-.29.37-.44c.13-.14.17-.25.25-.41c.08-.17.04-.31-.02-.43c-.06-.11-.56-1.35-.77-1.84c-.2-.48-.4-.42-.56-.43c-.14 0-.3-.01-.47-.01" /></svg>
      </a>
    </div>
  </div>

  <nav class="bg-white shadow-md py-2 px-6 md:px-20 relative w-full">
    <div class="container mx-auto flex justify-between items-center">
      <a href="{% url 'index' %}">
        <img src="{% static 'img/logo.png' %}" alt="Logo" class="h-14 w-auto" />
      </a>

      <ul class="hidden md:flex space-x-10 text-gray-700 navbar-times">
        <li><a href="{% url 'index' %}" class="hover:text-[#8bc83f]">Home</a></li>
        <li><a href="{% url 'about' %}" class="hover:text-[#8bc83f]">About Us</a></li>
        <li><a href="{% url 'properties' %}" class="hover:text-[#8bc83f]">Properties</a></li>
        <li><a href="{% url 'agents' %}" class="hover:text-[#8bc83f]">Agents</a></li>
        <li><a href="{% url 'blog' %}" class="hover:text-[#8bc83f]">Blogs</a></li>
        <li><a href="{% url 'contact' %}" class="text-[#8bc83f]">Contact</a></li>
      </ul>

      <a href="{% url 'agentslogin' %}"
        class="hidden md:flex ml-4 border border-[#8bc83f] text-[#8bc83f] px-6 py-2 items-center gap-2 hover:bg-[#76ad33] hover:text-white transition rounded">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-dasharray="28" stroke-dashoffset="28" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2">
            <path d="M4 21v-1c0 -3.31 2.69 -6 6 -6h4c3.31 0 6 2.69 6 6v1">
              <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s" values="28;0" />
            </path>
            <path d="M12 11c-2.21 0 -4 -1.79 -4 -4c0 -2.21 1.79 -4 4 -4c2.21 0 4 1.79 4 4c0 2.21 -1.79 4 -4 4Z">
              <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.4s" dur="0.4s" values="28;0" />
            </path>
          </g>
        </svg>
        Login
      </a>

      <div class="md:hidden">
        <button id="mobile-menu-btn" class="text-[#8bc83f] focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>

    <div id="mobile-menu"
      class="fixed top-0 right-0 w-[90%] h-full bg-white shadow-lg z-50 transform translate-x-full transition-transform duration-300 ease-in-out">
      <div class="p-6 flex justify-end">
        <button id="close-menu" class="text-gray-700 text-2xl">&times;</button>
      </div>
      <ul class="flex flex-col items-start space-y-6 p-6 text-gray-700">
        <li><a href="{% url 'index' %}" class="hover:text-[#8bc83f]">Home</a></li>
        <li><a href="{% url 'about' %}" class="hover:text-[#8bc83f]">About Us</a></li>
        <li><a href="{% url 'properties' %}" class="hover:text-[#8bc83f]">Properties</a></li>
        <li><a href="{% url 'agents' %}" class="hover:text-[#8bc83f]">Agents</a></li>
        <li><a href="{% url 'blog' %}" class="hover:text-[#8bc83f]">Blogs</a></li>
        <li><a href="{% url 'contact' %}" class="text-[#8bc83f]">Contact</a></li>
        <li><a href="{% url 'agentslogin' %}"
            class="text-[#8bc83f] border border-[#8bc83f] px-4 py-2 rounded hover:bg-[#8bc83f] hover:text-white">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
    <section class="bg-gray-50 py-16 px-4 md:px-20 mt-24 max-md:px-6">
      <div
        class="w-full mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 pt-20 max-md:pt-0">

        <div>
          <h2 class="text-4xl font-bold text-gray-900 mb-4">GET IN TOUCH WITH
            US</h2>
          <p class="text-gray-600 mb-10">Have questions or need assistance?
            We're here to help!</p>

          <div class="space-y-6 text-gray-800">
            <div class="flex items-center gap-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24"><path fill="#575555"
                  d="M19.95 21q-3.125 0-6.175-1.362t-5.55-3.863t-3.862-5.55T3 4.05q0-.45.3-.75t.75-.3H8.1q.35 0 .625.238t.325.562l.65 3.5q.05.4-.025.675T9.4 8.45L6.975 10.9q.5.925 1.187 1.787t1.513 1.663q.775.775 1.625 1.438T13.1 17l2.35-2.35q.225-.225.588-.337t.712-.063l3.45.7q.35.1.575.363T21 15.9v4.05q0 .45-.3.75t-.75.3" /></svg>
              <span>+91 9061827363</span>
            </div>
            <div class="flex items-center gap-4">

              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24"><path fill="#575555"
                  d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z" /></svg>
              <span>buyselinfo@gmail.com</span>
            </div>
            <div class="flex items-center gap-4">

              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24"><g fill="none" stroke="#575555"
                  stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.5"><path
                    d="M12.56 20.82a.96.96 0 0 1-1.12 0C6.611 17.378 1.486 10.298 6.667 5.182A7.6 7.6 0 0 1 12 3c2 0 3.919.785 5.333 2.181c5.181 5.116.056 12.196-4.773 15.64" /><path
                    d="M12 12a2 2 0 1 0 0-4a2 2 0 0 0 0 4" /></g></svg>
              <span>Kochi, Kerala, India</span>
            </div>
          </div>
        </div>

        <div>

<form class="space-y-6" method="POST" id="contactForm">
    {% csrf_token %}

    <div>
        <label class="block text-sm font-medium text-gray-700">Name</label>
        <input type="text" name="name" id="name"
               class="mt-1 block w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-[#8bc83f] focus:border-[#8bc83f]"
               placeholder="Your Name" required>
    </div>

    <div>
        <label class="block text-sm font-medium text-gray-700">Email</label>
        <input type="email" name="email" id="email"
               class="mt-1 block w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-[#8bc83f] focus:border-[#8bc83f]"
               placeholder="Your Email" required>
    </div>

    <div>
        <label class="block text-sm font-medium text-gray-700">Phone Number</label>
        <input type="tel" name="phone" id="phone"
               class="mt-1 block w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-[#8bc83f] focus:border-[#8bc83f]"
               placeholder="Your Phone Number" required>
    </div>

    <div>
        <label class="block text-sm font-medium text-gray-700">Message</label>
        <textarea rows="4" name="message" id="message"
                  class="mt-1 block w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-[#8bc83f] focus:border-[#8bc83f]"
                  placeholder="Your Message" required></textarea>
    </div>

    <div id="errorMessage" class="text-red-500 text-sm"></div>

    <button type="submit"
            class="w-full bg-black text-white py-3 rounded hover:bg-gray-800 transition">
        Submit
    </button>
</form>

<script>
document.getElementById('contactForm').addEventListener('submit', function(e) {
    const fields = ['name', 'email', 'phone', 'message'];

    // Block URLs/domains but allow emails
    const urlPattern = /(https?:\/\/\S+|www\.\S+|(?<!@)\b[A-Za-z0-9-]+\.(com|net|org|in|info|io|gov|co)\b)/i;
    let hasLink = false;

    fields.forEach(field => {
        const value = document.getElementById(field).value.trim();
        if (urlPattern.test(value)) {
            hasLink = true;
        }
    });

    if (hasLink) {
        e.preventDefault();
        document.getElementById('errorMessage').textContent = "Links are not allowed in any field.";
    }
});
</script>




        </div>
      </div>
    </section>

    <div class="bg-white py-12 px-4 md:px-20 max-md:px-6 text-center">
      <h3 class="text-2xl font-semibold text-gray-800 mb-4">We’d love to hear
        from you!</h3>
      <p class="text-gray-600 max-w-2xl mx-auto">
        Whether you're buying, selling or simply looking for advice, our team is
        ready to provide the guidance and support you need.
        Expect a response within 24 hours.
      </p>

    </div>

{% endblock%}