{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Buysel.in - Commission-free property and scrap transactions. Buy, sell, rent, or lease properties with transparency and ease. Dispose of scrap and e-waste responsibly. Join the revolution in property and scrap dealing today!">
        <meta name="keywords" content="commission-free property transactions, property buying and selling, rent and lease properties, scrap disposal, e-waste transactions, scrap and property platform, middleman-free property deals, transparent property deals, responsible scrap disposal, direct property connections, efficient property transactions, eco-friendly scrap management, property solutions India">
        <meta name="author" content="buysel.in">
        <meta name="robots" content="index, follow">
        <meta name="theme-color" content="#8bc83f">

      
        {% if object.screenshot %}
        <meta property="og:image" content="{{ object.screenshot.url }}" />
        {% endif %}
        {% if object.screenshot %}
        <meta property="og:image:secure_url" content="{{ object.screenshot.url }}" />
        {% endif %}
       

       
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    

        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://anjanarealestates.com/detailhouse/{{object_id}}" />
        <meta property="og:site_name" content="BuySell Image Gallery" />
        <meta property="og:locale" content="en_US" />



        <title>Buysel.in - Commission-Free Property and Scrap Transactions</title>
        <link rel="icon" href="./asset/img/logo.png" type="image/x-icon" />
        <link rel="stylesheet" href="./asset/css/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{% static 'css/style.css' %} " />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
     
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
       <link rel="stylesheet" href=" https://phosphoricons.com?q=%22bag%22&weight=%22regular%22">
       <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
       
<!-- 
    


        
        <script src=" {% static 'js/main.js' %}"></script>
        <script src=" {% static 'js/faq.js' %}"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css"> -->
    
      <script type="text/javascript">
          (function(c,l,a,r,i,t,y){
              c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
              t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
              y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
          })(window, document, "clarity", "script", "q1azkcd9yy");
      </script>
    
    
      </head>

    



  <body>
    <div class="sub-navbar">
      <div class="welcometxt">Welcome to Buysel</div>
      <ul class="sub-nav-options">
        <a
          href="https://www.facebook.com/profile.php?id=61568003210483"
          target="_blank"
        >
          <img
            src="{% static 'img/facebook 2.png' %}"
            alt="Facebook"
            class="social-icon-nav"
          />
        </a>
        <a
          href="https://www.instagram.com/buysel_?igsh=ZWF5aDdldzhpMmEz"
          target="_blank"
        >
          <img
            src="{% static 'img/instagram2.png' %}"
            alt="Instagram"
            class="social-icon-nav"
          />
        </a>
        <a href="https://wa.me/9061827363" target="_blank">
          <img
            src="{% static 'img/whatsapp2.png' %}"
            alt="WhatsApp"
            class="social-icon-nav"
          />
        </a>
      </ul>
    </div>

    <nav class="navbar">
      <a href="{% url 'index' %}" class="logo-link">
        <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo" />
      </a>
       <!-- Hamburger icon for mobile -->
<!-- <button class="hand-burger" id="navbar-toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button> -->
  <div class="hand-burgger" onclick="handleToggle()" id="navbar-toggle">
    <div id="bar1" class="bar"></div>
    <div id="bar2" class="bar"></div>
    <div id="bar3" class="bar"></div>

  </div>


      <ul class="nav-options">
        <li><a href="{% url 'index' %}#about">About Us</a></li>
        <li><a href="{% url 'index' %}#service">Services</a></li>
        <li><a href="{% url 'agents' %}">Agents</a></li>
        <li><a href="{% url 'index' %}#properties">Properties</a></li>
        <li><a href="{% url 'index' %}#features">Features</a></li>
        <li><a href="{% url 'blog' %}">Our blogs</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
        <li><a href="{% url 'login' %}" style="color: #8bc83f;"><i class="ph ph-user"></i>Login   </a></li>
      </ul>
      <button class="contact-btn">
        <a href="{% url 'index' %}#contact" class="contact-link">Contact Us</a>
      </button>

      <div id="mobile-navbar" class="mobile-navbar display-hidden bg-red">

        <div class="nav-tabs">
          <ul>
            <li onclick="handleToggle()"><a href="{% url 'index' %}#about">About Us</a></li>
            <li onclick="handleToggle()"><a href="{% url 'index' %}#service">Services</a></li>
            <li onclick="handleToggle()"><a href="{% url 'agents' %}">Agents</a></li>
            <li onclick="handleToggle()"><a href="{% url 'index' %}#properties">Properties</a></li>
            <li onclick="handleToggle()"><a href="{% url 'index' %}#features">Features</a></li>
            <li onclick="handleToggle()"><a href="{% url 'blog' %}">Our blogs</a></li>
            <li onclick="handleToggle()"><a href="{% url 'faq' %}">FAQ</a></li>
            <li onclick="handleToggle()"><a href="{% url 'login' %}" style="color: #8bc83f;"><i class="ph ph-user"></i>Login   </a></li>
          </ul>
          <button class="contact-btn">
            <a href="{% url 'index' %}#contact" class="contact-link">Contact Us</a>
          </button>
        </div>
        
  
      </div>

    </nav>

    

<style>
    @media(max-width:400px) {
        .image-container {
            margin-top: 3rem !important;
        }
    }

    @media(max-width:600px) {
        .image-container {
            margin-top: 3rem !important;
        }

        .image-container .image-2,
        .image-container .image-1 {
            max-width: 53%;
        }
    }

    @media(max-width:900px) {
        .image-container {
            margin-top: 3rem !important;
        }

        .image-container .image-2,
        .image-container .image-1 {
            max-width: 35%;
        }

        .image-container {}
    }
</style>
<!-- House Details -->
<div class="break">
    {% comment %} <div class="detail_view">
        <div class="sale-banner"
            style="position: absolute; top: 10px; left: 10px; background-color: red; color: white; font-size: 14px; padding: 5px 10px; font-weight: bold; border-radius: 5px; z-index: 10;">
            <h4>{{ house.category }}</h4>
        </div>
        <div class="details-img">
            <div class="main-image-container">
                {% if house.images.all %}

                <img src="{{ house.images.all.0.image.url }}" alt="land Image" class="img-fluid">

                {% endif %}

            </div>
            <div class="other-img">
                {% if house.images.all|length > 1 %}

                <img id="second-img" src="{{ house.images.all.1.image.url }}" onclick="changeImage('second-img')">

                {% endif %}


                {% if house.images.all|length > 2 %}

                <img id="third-img" src="{{ house.images.all.2.image.url }}" onclick="changeImage('third-img')">

                {% endif %}
                {% if house.images.all|length > 3 %}

                <img id="fourth-img" src="{{ house.images.all.3.image.url }}" onclick="changeImage('fourth-img')">

                {% endif %}



            </div>
        </div>



        <div class="details-list">
            <button class="wtsp-btn share-btn1" data-id="1"
                data-message="Looking to buy or sell property? buysel.in offers great deals for buyers and quick listings for sellers. Find homes, apartments, and commercial spaces at the best prices. https://buysel.in/#card-1"
                data-url="https://buysel.in/#card-1"
                style="border: none; background: none; color: #25d366; font-size: 33px;">
                <i class="fa-solid fa-share-nodes"></i>
            </button>
            <h2>{{ house.Caption }}</h2>
            <div class="detail-sec pt-5">
                <div class="detail_list">
                    <h6>Total Land:</h6>
                    <h6>{{ house.total_land }},</h6>



                </div>
                <div class="detail_list">
                    <span>
                        <h6>Address:</h6>
                    </span>
                    <h6>{{ house.address }},</h6>
                </div>
                <div class="detail_list">
                    <span>
                        <h6>Bedroom:</h6>
                    </span>
                    <h6>{{ house.Bedroom }},</h6>
                    <span>
                        <h6>Bathroom:</h6>
                    </span>
                    <h6>{{ house.Bathroom }},</h6>



                </div>
                <div class="detail_list">
                    <h6>House Area:</h6>
                    <h6>{{ house.house_area }},</h6>





                </div>
                <div class="detail_list">
                    <span>
                        <h6>Kitchen:</h6>
                    </span>
                    <h6>{{ house.kitchen }},</h6>
                    <h6>Furnished:</h6>
                    <h6>{{ house.furnished }},</h6>

                </div>
                <div class="detail_list">

                    <span>
                        <h6>About Property:</h6>
                    </span>
                    <h6>{{ house.description }},</h6>

                </div>
                <div class="detail_list">
                    <span>
                        <h6>Land Mark:</h6>
                    </span>
                    <h6>{{ house.land_mark }},</h6>





                </div>

                <div class="detail_list">
                    <span>
                        <h6>Allowed Persons:</h6>
                    </span>
                    <h6>{{ house.allowed_persons }},</h6>
                    <span>
                        <h6>Gender:</h6>
                    </span>
                    <h6>{{ house.gender }},</h6>
                </div>
                <div class="detail_list">
                    <span>
                        <h6>Price:</h6>
                    </span>
                    <h6 style=" color: #1c9147;">{{ house.price }}</h6>


                </div>


                <!-- Disable the entire contact section if sold or disabled -->
                {% if house.status == 'Sold' or house.disabled %}
                <div class="contact-row" style="pointer-events: none; opacity: 0.5;">
                    <div onclick="sendMessageToWhatsApp('{{ house.Caption }}', '{{ house.location }}', '{{ house.contact }}')"
                        style="background: none; border: none; color: #25d366; font-size: 3.5rem;">
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                    <a href="tel:+91 {{ house.contact }}"
                        style="color: #8bc83f; font-size: 20px; background-color: #ccc; color: white; padding: 15px 30px; border: none; border-radius: 5px; cursor: not-allowed;"
                        disabled>
                        Call Now <i class="fas fa-phone call"></i>
                    </a>
                </div>
                {% else %}
                <div class="contact-row">
                    <div onclick="sendMessageToWhatsApp('{{ house.Caption }}', '{{ house.location }}', '{{ house.contact }}')"
                        style="background: none; border: none; color: #25d366; font-size: 3.5rem;">
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                    <a href="tel:+91 {{ house.contact }}"
                        style="color: #8bc83f; font-size: 20px; background-color: #25d366; color: white; padding: 15px 30px; border: none; border-radius: 5px; cursor: pointer;">
                        Call Now <i class="fas fa-phone call"></i>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div> {% endcomment %}





    <section class="detail-sec-agent">
        <div class="landing-detail">

            <div class="agent-plot-image">
                <!-- <div class="img1">
                <img src="{{ object.image1.url }}" alt="land Image" class="img-fluid img-det">
                <img id="second-img" src="{{ object.image2.url }}" class="img-det">
            </div>
            <div class="img2">
                <img id="third-img" src="{{ object.image3.url }}" class="img-det">
                <img id="fourth-img" src="{{ object.image4.url }}" class="img-det">
            </div>
            <div id="myModal" class="modal">
                <span class="close" id="closeBtn">&times;</span>
                <img class="modal-contents" id="img01">
            </div> -->
                <div class="image-div">

                    <div class="scroll-img">
                        {% if images and images.0 %}
                        <img src="{{ images.0.image.url }}" alt="{% if images.0.house %}{{ images.0.house.Caption }}{% else %}Image{% endif %}" id="main-img">
                    {% endif %}
                    </div>
                    <div id="scrolling-img" class="det-img">
                        <div  class="scroll-img2">
                            
                                {% if images %}

                                {% for image in images %}
                                <img onclick="handleImageSelector('{{ image.image.url }}')" id="{{ image.image.url }}" src="{{ image.image.url }}" alt="{{ image.house.Caption }}">
                                {% endfor %}

                                {% endif %}
                       

                        </div>

                    </div>
                    <div class="btn-det">
                        <button onclick="handlePrev()" ><i class="fa-solid fa-arrow-left"></i></button>
                        <button onclick="handleNext()"><i class="fa-solid fa-arrow-right"></i></button>

                    </div>
                </div>

            </div>

            <div class="description">
                <h2 style="text-align: center; font-size: 2rem;">{{object.Caption}}</h2><br>
            <h2>About Property</h2>
            <p>{{ object.description}}</p>
            <!-- <h2>Location : {{object.location}}</h2> -->
            <h2>Address : </h2><p>{{ object.address }}</p>

            <h2>Landmark : </h2> <p>{{object.land_mark}}</p>
            
            <h2>Price : <span style="color: #8bc83f; font-size: 2rem;">{{ object.price }}</span></h2>
            </div>

        </div>

        <div class="contact-btn-det">
            {% if object.status == 'Sold' or object.disabled %}
            <div class="contact-row1" style="pointer-events: none; opacity: 0.5;">
                <div onclick="sendMessageToWhatsApp('{{ object.Caption }}', '{{ object.location }}', '{{ object.contact }}')"
                    style="background: none; border: none; color: #25d366 !important; font-size: 3.5rem;">
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
                <a href="tel:+91 {{ object.contact }}" disabled><button style="border: none;
            font-size: 1.5rem;
            text-align: center;
            height: 2.9rem;
            place-content: center;
            border-radius: 50%;
            background-color: #8bc83f;
            width: 3.2rem;
            color: white;"><i class="fas fa-phone call"></i></button>

                </a>
            </div>
            {% else %}
            <div class="contact-row1">
                <div onclick="sendMessageToWhatsApp('{{ object.Caption }}', '{{ object.location }}', '{{ object.contact }}')"
                    style="background: none; border: none; color: #25d366 !important; font-size: 3.5rem;">
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
                <a href="tel:+91 {{ object.contact }}"><button style="border: none;
                font-size: 1.5rem;
                text-align: center;
                height: 2.9rem;
                place-content: center;
                border-radius: 50%;
                background-color: #8bc83f;
                width: 3.2rem;
                color: white;"><i class="fas fa-phone call"></i></button>

                </a>
            </div>
            {% endif %}
        </div>

        <div class="key-head">
            <h2>Key Feature</h2>
            <div class="key-feature">

                <div class="key1">
                    <h5>Total Land</h5>
                    <div class="key-icon">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>

                    <h1>{{ object.total_land }}</h1>
                </div>
                <div class="key2">
                    <h5>House Area</h5>
                    <div class="key-icon">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>

                    <h1>{{ object.house_area }}</h1>
                </div>
                <div class="key3">
                    <h5>Security Deposit</h5>
                    <div class="key-icon">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>

                    <h1>{{ object.sequrity_deposit }}</h1>
                </div>

            </div>

        </div>

        <div class="common-para">
            <div class="common-text">
                <h2>Explore a Diverse Range of Properties for Every Need</h2>
                <p>Our property listings cater to a variety of preferences and requirements. Whether you're looking for
                    a
                    charming family home, a lucrative commercial space, a prime piece of land to build your dream
                    property, or an
                    off-plan opportunity, we have something for everyone. Browse through our selection of well-priced
                    properties in
                    sought-after locations and find the perfect match for your lifestyle or investment goals.</p>
            </div>
            <div class="image-container">
                <img src="{% static 'img/agents2.jpg' %}" alt="A beautiful house at sunset" class="image-1" />
                <img src="{% static 'img/agents.jpg' %}" alt="A key in a door lock" class="image-2" />
            </div>

        </div>


    </section>


    <script>
        
        function handleImageSelector(id){
            console.log(id);
            
            const mainImg = document.getElementById('main-img')

            const selectedImg = document.getElementById(`${id}`)

            let temp;

            temp = mainImg.src
             mainImg.src = selectedImg.src
             selectedImg.src = temp

        }


        function handleNext(){
            console.log('haaaaa haah ahh');

            const container = document.getElementById('scrolling-img')

            console.log(container,'athira');
            
            
            container.scrollBy({ left: 300, behavior: "smooth" });

        }

        function handlePrev(){
            console.log('haaaaa haah ahh');

            const container = document.getElementById('scrolling-img')

            console.log(container,'athira');
            
            
            container.scrollBy({ left: -300, behavior: "smooth" });

        }


    </script>


    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the modal image and close button
        var modalImg = document.getElementById("img01");
        var closeBtn = document.getElementById("closeBtn");

        // Get all images with the class 'image'
        var images = document.querySelectorAll(".img-det");

        // Loop through all the images and add an event listener
        images.forEach(function (img) {
            img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
            }
        });

        // When the user clicks on the close button, close the modal
        closeBtn.onclick = function () {
            modal.style.display = "none";
        }

        // Close the modal if the user clicks outside of the image
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>









</div>

<script>
    function changeImage(currentImage) {



        const selectedImage = document.getElementById(`${currentImage}`)
        const mainImage = document.getElementById('mainImage');




        const tempSrc = mainImage.src
        mainImage.src = selectedImage.src
        selectedImage.src = tempSrc




    }
</script>


<footer style="background-color: white; padding: 20px 0; z-index: 1">
    <div class="footer-content">
      <!-- Left Side: Contact Information -->
      <div class="contact-details">
        <!-- Updated class name here -->
        <img
          src="{% static 'img/logo.png' %}"
          alt="Buysel Logo"
          class="footer-logo mb-4"
        />
        <h3>Contact Information</h3>
        <p>Email:buyselinfo@gmail.com</p>
        <p>Phone:9061827363</p>
        <p>Address: Kochi, Kerala,India</p>

        <!-- Follow Us Section -->
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a
            href="https://www.facebook.com/profile.php?id=61568003210483"
            target="_blank"
          >
            <img
              src="{% static 'img/facebook.svg' %}"
              alt="Facebook"
              class="social-icon"
            />
          </a>
          <a
            href="https://www.instagram.com/buysel_?igsh=ZWF5aDdldzhpMmEz"
            target="_blank"
          >
            <img
              src="{% static 'img/insta.svg' %}"
              alt="Instagram"
              class="social-icon"
            />
          </a>
          <a href="https://wa.me/9061827363" target="_blank">
            <img
              src="{% static 'img/whatsapp.svg' %}"
              alt="WhatsApp"
              class="social-icon"
            />
          </a>
          <!-- <a href="https://www.twitter.com" target="_blank">
              <img src="asset/img/twitter.svg" alt="Twitter" class="social-icon">
          </a> -->
        </div>
      </div>

      <!-- Right Side: Footer Links -->
      <div class="footer-links" style="position: relative; z-index: 1">
        <!-- <h4>wwwwwww</h4> -->
        <div class="link-row1 pt-5  ">
          <a href="#" class="home">Home</a>
          <a href="#service" class="services">Services</a>
          <a href="#benefits" class="benefits">Benefits</a>
          <a href="faq.html" class="faq">FAQ</a>
        </div>
        <div class="link-row2">
          <a href="#about" class="about-us">About Us</a>
          <a href="#features" class="features">Features</a>
          <a href="#how-it-works" class="how-it-works">How it works</a>
          <a href="#contact" class="contact-us">Contact Us</a>
        </div>
      </div>

      <p class="f-bg-content">Contact <br />us</p>
    </div>

    <!-- Bottom: Copyright -->
    <div class="footer-bottom">
      <p>&copy; 2024 Buysel.in. All Rights Reserved</p>
    </div>
  </footer>



  <script>
//       document.querySelectorAll(".share-btn").forEach(button => {
//   button.addEventListener("click", async (e) => {
//     const button = e.currentTarget; // Ensure correct button selection
//     const message = button.getAttribute("data-message");
//     const url = button.getAttribute("data-url");

//     // 🔍 Ensure message and URL exist
//     if (!message || !url) {
//       console.error("Error: Message or URL is missing!", message, url);
//       alert("Sharing failed: Missing property details.");
//       return;
//     }

//     // Find the closest property card
//     const card = button.closest(".card");
//     if (!card) {
//       console.error("Error: Property card not found!");
//       return;
//     }

//     try {
//       // 📸 Capture the property card as an image
//       const canvas = await html2canvas(card);
//       const dataUrl = canvas.toDataURL("image/png");

//       // Convert base64 to Blob
//       const response = await fetch(dataUrl);
//       const blob = await response.blob();

//       // 🖇️ Try copying the image to clipboard
//       if (navigator.clipboard && navigator.clipboard.write) {
//         try {
//           await navigator.clipboard.write([new ClipboardItem({ "image/png": blob })]);
//           alert("📸 Screenshot copied! Open WhatsApp Web and press Ctrl + V to paste.");
//         } catch (err) {
//           console.error("❌ Clipboard copy failed: ", err);
//         }
//       }

//       // 📲 Open WhatsApp Web for link sharing
//       const shareUrl = `https://web.whatsapp.com/send?text=${encodeURIComponent(`${message} ${url}`)}`;
//       window.open(shareUrl, "_blank");

//     } catch (error) {
//       console.error("❌ Error capturing or sharing:", error);
//     }
//   });
// });



// document.querySelectorAll(".share-btn").forEach(button => {
//   button.addEventListener("click", async (e) => {
//     const button = e.target;
//     const cardId = button.getAttribute("data-id");
//     const message = button.getAttribute("data-message");
//     const url = button.getAttribute("data-url");
//     const card = document.getElementById(`${cardId}`);
//     console.log(cardId,'cardd idd');


//     console.log();
//     // Generate an image of the card
//     const canvas = await html2canvas(card);
//     const dataUrl = canvas.toDataURL("image/png");

//     // Convert base64 image to a Blob
//     const byteString = atob(dataUrl.split(",")[1]);
//     const mimeString = dataUrl.split(",")[0].split(":")[1].split(";")[0];
//     const buffer = new Uint8Array(byteString.length);
//     for (let i = 0; i < byteString.length; i++) {
//       buffer[i] = byteString.charCodeAt(i);
//     }
//     const blob = new Blob([buffer], { type: mimeString });
//     const file = new File([blob], "payment-details.png", { type: "image/png" });

//     const shareData = {
//       title: "Payment Details",
//       text: message,
//       files: [file] // Include the image file
//     };

//     // Check for Web Share API support
//     if (navigator.share) {
//       try {
//         // Share with image and message
//         await navigator.share(shareData);
//         console.log("Shared successfully!");
//       } catch (error) {
//         console.error("Error sharing with file:", error);
//         // Fallback for unsupported devices or errors
//         fallbackShare(message, url);
//       }
//     } else {
//       fallbackShare(message, url); // Use fallback on unsupported devices
//     }
//   });
// });

// // Fallback method for unsupported browsers or when sharing fails
// function fallbackShare(message, url) {
//   const shareUrl = `whatsapp://send?text=${encodeURIComponent(`${message} ${url}`)}`;
//   window.open(shareUrl, "_blank");
// }






// hjkgfjkhgf




// document.querySelectorAll(".share-btn").forEach(button => {
//   button.addEventListener("click", async (e) => {
//     const button = e.currentTarget; // Ensure correct button selection
//     const message = button.getAttribute("data-message");
//     const url = button.getAttribute("data-url");

//     // 🔍 Ensure message and URL exist
//     if (!message || !url) {
//       console.error("Error: Message or URL is missing!", message, url);
//       alert("Sharing failed: Missing property details.");
//       return;
//     }

//     // Find the closest property card
//     const card = button.closest(".card");
//     if (!card) {
//       console.error("Error: Property card not found!");
//       return;
//     }

//     try {
//       // 📸 Capture the property card as an image
//       const canvas = await html2canvas(card);
//       const dataUrl = canvas.toDataURL("image/png");

//       // Convert base64 to Blob
//       const response = await fetch(dataUrl);
//       const blob = await response.blob();

//       // Create a File object from the Blob
//       const file = new File([blob], "property-image.png", { type: "image/png" });

//       // Create a sharing object
//       const shareData = {
//         title: "Property Details",
//         text: message,
//         files: [file], // Include the image file for platforms that support it (such as WhatsApp)
//       };

//       // Check if Web Share API is supported
//       if (navigator.share) {
//         try {
//           // Share with image and message
//           await navigator.share(shareData);
//           console.log("Shared successfully!");
//         } catch (error) {
//           console.error("Error sharing with image:", error);
//           fallbackShare(message, url); // Fallback to the URL sharing if image sharing fails
//         }
//       } else {
//         fallbackShare(message, url); // Fallback if Web Share API is not supported
//       }

//     } catch (error) {
//       console.error("❌ Error capturing or sharing:", error);
//       fallbackShare(message, url); // Fallback in case of error
//     }
//   });
// });

// // Fallback method for unsupported browsers or when sharing fails
// function fallbackShare(message, url) {
//   // WhatsApp sharing fallback (share only URL and message)
//   const whatsappUrl = `https://web.whatsapp.com/send?text=${encodeURIComponent(`${message} ${url}`)}`;
//   window.open(whatsappUrl, "_blank");

//   // Twitter sharing fallback (images can't be shared directly, so just share the URL and message)
//   const twitterUrl = `https://twitter.com/intent/tweet?text=${encodeURIComponent(`${message} ${url}`)}`;
//   window.open(twitterUrl, "_blank");

//   // Facebook sharing fallback (images can't be directly shared either, just share the URL and message)
//   const facebookUrl = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(url)}`;
//   window.open(facebookUrl, "_blank");

//   // LinkedIn sharing fallback (images can't be shared directly, just share the URL)
//   const linkedinUrl = `https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(url)}`;
//   window.open(linkedinUrl, "_blank");
// }

// end



document.addEventListener("DOMContentLoaded", function () {
document.querySelectorAll(".share-btn").forEach(button => {
button.addEventListener("click", function () {
  const dataId = this.getAttribute("data-id");
  const message = this.getAttribute("data-message");
  const shareUrl = this.getAttribute("data-url");

  if (!dataId || !message || !shareUrl) {
    console.error("One or more data attributes are missing.");
    alert("Error: Property details are incomplete.");
    return;
  }

  console.log(`ID: ${dataId}\nMessage: ${message}\nURL: ${shareUrl}`);

  // Copying property details to clipboard
  const textToCopy = `Check this property: \n\nMessage: ${message}\nURL: ${shareUrl}`;
  navigator.clipboard.writeText(textToCopy).then(() => {
    alert("Property details copied to clipboard.");
  }).catch(err => {
    console.error("Failed to copy property details: ", err);
    alert("Failed to copy property details.");
  });

  // Capture and share the screenshot
  const propertyCard = this.closest(".card");
  html2canvas(propertyCard, { useCORS: true }).then(canvas => {
    canvas.toBlob(blob => {
      if (!blob) {
        console.error("Error generating screenshot blob.");
        alert("Failed to generate screenshot.");
        return;
      }

      const file = new File([blob], "property_screenshot.png", { type: "image/png" });

      if (navigator.share && navigator.canShare && navigator.canShare({ files: [file] })) {
        navigator.share({
          title: "Check out this property!",
          text: `${message} ${shareUrl}`,
          files: [file]
        }).catch(err => {
          console.error("Error sharing:", err);
          alert("Failed to share property screenshot.");
        });
      } else {
        // Fallback: Download the screenshot
        const downloadLink = document.createElement("a");
        downloadLink.href = URL.createObjectURL(blob);
        downloadLink.download = "property_screenshot.png";
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
        alert("Sharing is not supported on this browser. Screenshot downloaded.");
      }
    }, "image/png");
  }).catch(err => {
    console.error("Error capturing screenshot:", err);
    alert("Failed to capture screenshot.");
  });
});
});
});









</script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>







  
    
    <script>
      // Open details popup
      function openDetailsPopup(title, location, imageUrl, totalLand, houseArea, remainingLand, price, phoneNumber, additionalImages, about) {
          const popup = document.getElementById('detailsPopup');
          popup.style.display = 'flex'; // Show the popup
    
          // Update the property details
          document.getElementById('popup-title').textContent = title;
          document.getElementById('popup-location').textContent = location;
          document.getElementById('popup-image').src = imageUrl;
          document.getElementById('popup-total-land').textContent = totalLand;
          document.getElementById('popup-house-area').textContent = houseArea;
          document.getElementById('popup-remaining-land').textContent = remainingLand;
          document.getElementById('popup-price').textContent = price;
    
          // Set the About field
          document.getElementById('popup-about').textContent = about;
    
          // Store the phone number for WhatsApp redirection
          window.currentPhoneNumber = phoneNumber;
    
          // Dynamically populate additional images
          const additionalImagesContainer = document.querySelector('.additional-images-container');
          additionalImagesContainer.innerHTML = ''; // Clear any previous images
    
          additionalImages.forEach((image) => {
              const imgElement = document.createElement('img');
              imgElement.src = image;
              imgElement.alt = 'Additional Property Image';
              additionalImagesContainer.appendChild(imgElement);
          });
      }
    
      // Close the popup
      function closeDetailsPopup() {
          const popup = document.getElementById('detailsPopup');
          popup.style.display = 'none'; // Hide the popup
      }
    
      function sendMessageToWhatsApp(propertyName, location, phoneNumber) {
        const message = `Hello, I am interested in the property from buysel.in "${propertyName}" located in "${location}". Please provide more details.`;
        const encodedMessage = encodeURIComponent(message); // Ensures the message is URL-safe
        const whatsappUrl = `https://api.whatsapp.com/send?phone=${phoneNumber}&text=${encodedMessage}`;
        window.open(whatsappUrl, "_blank"); // Open WhatsApp with the message
      }
      
    </script>
    
    <script>
   function filterProperties(category) {
      // Get all property cards
      var cards = document.querySelectorAll('.card');
  
      // Loop through each card
      cards.forEach(function(card) {
          // Get the category data from the card
          var cardCategory = card.getAttribute('data-category').toLowerCase();
  
          // Check if the category matches the selected filter (case-insensitive)
          if (category === 'all' || category.toLowerCase() === cardCategory) {
              card.style.display = 'block'; // Show card
          } else {
              card.style.display = 'none'; // Hide card
          }
      });
  
      // Remove the 'active' class from all filter buttons
      var buttons = document.querySelectorAll('.filter-btn');
      buttons.forEach(function(button) {
          button.classList.remove('active');
      });
  
      // Add the 'active' class to the clicked button
      var activeButton = document.querySelector('[data-category="' + category + '"]');
      if (activeButton) {
          activeButton.classList.add('active');
      }
  }
  
  // Initialize the filter to show all properties on page load
  document.addEventListener('DOMContentLoaded', function() {
      filterProperties('all'); // Default to showing all properties
  });
  
    </script>
  
  
  <script>
  // window.onload = function () {
  //     window.focus(); // Ensure the window is focused
  //     document.body.scrollTop = 0; // Reset the scroll position to the top
  //     document.documentElement.scrollTop = 0;
  // };
  
  
  
  // document.addEventListener("DOMContentLoaded", eventFunction);
  
  
  
  
  
  // function createNewImageDiv(idNo, array, index, mobile) {
  
  
      
  
  //     if (mobile) {
  
  
  //         const imageSection = document.querySelector('.image-section-mobile');
  //         const newDiv = document.createElement('img');
  //         newDiv.className = 'image-box-mobile';
  
  //         newDiv.id = `box-mobile${idNo}`;
  
  //         newDiv.style.height = '100%'
  //         newDiv.style.width = '0'
  //         newDiv.src = `${array[index]}`
  //          newDiv.style.objectFit = 'cover'
  //         newDiv.style.objectPosition = 'center'
  
  //         imageSection.appendChild(newDiv);
  
  //     } else {
  
  //         const imageSection = document.querySelector('.image-section');
  //         const newDiv = document.createElement('img');
  //         newDiv.className = 'image-box';
  //         newDiv.id = `box${idNo}`;
  //         newDiv.style.height = '100%'
  //         newDiv.style.width = '0'
  //         newDiv.src = `${array[index]}`
  //         newDiv.style.objectFit = 'cover'
  //         newDiv.style.objectPosition = 'center'
  //         // newDiv.style.backgroundRepeat = 'no-repeat'
  
  //         imageSection.appendChild(newDiv);
  
  //     }
  
  
  // }
  
  
  
  
  
  
  
  
  // function eventFunction() {
  
  //     let imageCount = 0
  //     let imageIndex = 0
  
  
  
  //     if (window.screen.width < 1336) {
  
  //         setInterval(
  //             () => {
  //                 console.log(imageCount);
  
  //                 const images = [
  //                     "static/img/10p.jpg",
  //                     "static/img/11p.jpg",
  //                     "static/img/9p.jpg",
  //                 ];
  
  //                 const imageArray = document.querySelectorAll('.image-box-mobile')
  
  //                 console.log(imageArray, 'imagearray');
  
  
  
  //                 imageArray[imageCount].style.width = 0
  //                 imageArray[imageCount].style.marginLeft = 0
  //                 imageArray[imageCount + 1].style.width = '15.5rem'
  //                 imageArray[imageCount + 1].style.marginLeft = '5px'
  //                 imageArray[imageCount + 2].style.width = '5.5rem'
  //                 imageArray[imageCount + 3].style.width = '2.375rem'
  //                 createNewImageDiv(imageCount + 4, images, imageIndex, true)
  
  //                 imageCount++
  
  //                 if (imageIndex == 2) {
  //                     imageIndex = 0
  //                 } else {
  //                     imageIndex++
  //                 }
  
  //             },
  //             2000);
  //     } else {
  //         setInterval(
  //             () => {
  //                 console.log(imageCount);
  
  //                 const images = [
  //                     "static/img/10p.jpg",
  //                     "static/img/11p.jpg",
  //                     "static/img/9p.jpg",
  //                 ];
  
  //                 const imageArray = document.querySelectorAll('.image-box')
  
  
  //                 imageArray[imageCount].style.width = 0
  //                 imageArray[imageCount].style.marginLeft = 0
  //                 imageArray[imageCount + 1].style.width = '22.5rem'
  //                 imageArray[imageCount + 2].style.width = '12.5rem'
  //                 imageArray[imageCount + 3].style.width = '9.375rem'
  //                 createNewImageDiv(imageCount + 4, images, imageIndex, false)
  
  //                 imageCount++
  
  //                 if (imageIndex == 2) {
  //                     imageIndex = 0
  //                 } else {
  //                     imageIndex++
  //                 }
  
  //             },
  //             2000);
  //     }
  
  
  
  
  
  // }
  
  
  
  
  
  
  
  
  
  
  </script>
  <script>
    // window.onload = function () {
  //     window.focus(); // Ensure the window is focused
  //     document.body.scrollTop = 0; // Reset the scroll position to the top
  //     document.documentElement.scrollTop = 0;
  // };
  
  
  
  // document.addEventListener("DOMContentLoaded", eventFunction);
  
  
  
  
  
  // function createNewImageDiv(idNo, array, index, mobile) {
  
  
      
  
  //     if (mobile) {
  
  
  //         const imageSection = document.querySelector('.image-section-mobile');
  //         const newDiv = document.createElement('img');
  //         newDiv.className = 'image-box-mobile';
  
  //         newDiv.id = `box-mobile${idNo}`;
  
  //         newDiv.style.height = '100%'
  //         newDiv.style.width = '0'
  //         newDiv.src = `${array[index]}`
  //          newDiv.style.objectFit = 'cover'
  //         newDiv.style.objectPosition = 'center'
  
  //         imageSection.appendChild(newDiv);
  
  //     } else {
  
  //         const imageSection = document.querySelector('.image-section');
  //         const newDiv = document.createElement('img');
  //         newDiv.className = 'image-box';
  //         newDiv.id = `box${idNo}`;
  //         newDiv.style.height = '100%'
  //         newDiv.style.width = '0'
  //         newDiv.src = `${array[index]}`
  //         newDiv.style.objectFit = 'cover'
  //         newDiv.style.objectPosition = 'center'
  //         // newDiv.style.backgroundRepeat = 'no-repeat'
  
  //         imageSection.appendChild(newDiv);
  
  //     }
  
  
  // }
  
  
  
  
  
  
  
  
  // function eventFunction() {
  
  //     let imageCount = 0
  //     let imageIndex = 0
  
  //     console.log('shandaaan');
      
  
  
  
  //     if (window.screen.width < 1336) {
  
  //         setInterval(
  //             () => {
  //                 console.log(imageCount);
  
  //                 const images = [
  //                     "static/img/10p.jpg",
  //                     "static/img/11p.jpg",
  //                     "static/img/9p.jpg",
  //                 ];
  
  //                 const imageArray = document.querySelectorAll('.image-box-mobile')
  
  //                 console.log(imageArray, 'imagearray');
  
  
  
  //                 imageArray[imageCount].style.width = 0
  //                 imageArray[imageCount].style.marginLeft = 0
  //                 imageArray[imageCount + 1].style.width = '15.5rem'
  //                 imageArray[imageCount + 1].style.marginLeft = '5px'
  //                 imageArray[imageCount + 2].style.width = '5.5rem'
  //                 imageArray[imageCount + 3].style.width = '2.375rem'
  //                 createNewImageDiv(imageCount + 4, images, imageIndex, true)
  
  //                 imageCount++
  
  //                 if (imageIndex == 2) {
  //                     imageIndex = 0
  //                 } else {
  //                     imageIndex++
  //                 }
  
  //             },
  //             2000);
  //     } else {
  //         setInterval(
  //             () => {
  //                 console.log(imageCount);
  
  //                 const images = [
  //                     "static/img/10p.jpg",
  //                     "static/img/11p.jpg",
  //                     "static/img/9p.jpg",
  //                 ];
  
  //                 const imageArray = document.querySelectorAll('.image-box')
  
  
  //                 imageArray[imageCount].style.width = 0
  //                 imageArray[imageCount].style.marginLeft = 0
  //                 imageArray[imageCount + 1].style.width = '22.5rem'
  //                 imageArray[imageCount + 2].style.width = '12.5rem'
  //                 imageArray[imageCount + 3].style.width = '9.375rem'
  //                 createNewImageDiv(imageCount + 4, images, imageIndex, false)
  
  //                 imageCount++
  
  //                 if (imageIndex == 2) {
  //                     imageIndex = 0
  //                 } else {
  //                     imageIndex++
  //                 }
  
  //             },
  //             2000);
  //     }
  
  
  
  
  
  // }
  
  
  
  
  // Cache elements to avoid repeated DOM queries
  const buttons = document.querySelectorAll('.filter-btn');
  const cards = document.querySelectorAll('.card');
  const noPropMessage = document.getElementById('no-property-message');
  
  function filterProperties(category) {
    // --- Instantly Update Active State of Filter Buttons ---
    buttons.forEach(button => {
      button.classList.remove('active');
    });
  
    // Get the clicked button and activate it immediately
    const activeButton = document.querySelector(`.filter-btn[data-category="${category}"]`);
    if (activeButton) {
      activeButton.classList.add('active');
  
      // ✅ Force the browser to apply the style update immediately
      activeButton.offsetHeight; // Triggers a reflow
  
      // ✅ Prevent hover from overriding active state
      activeButton.classList.add('clicked');
    }
  
    // --- Use requestAnimationFrame to Optimize Filtering ---
    requestAnimationFrame(() => {
      let visibleCount = 0;
  
      cards.forEach(card => {
        let isVisible = category === 'all' || card.getAttribute('data-category') === category;
        
        // ✅ Ensure cards update smoothly
        card.style.opacity = isVisible ? '1' : '0';
        card.style.visibility = isVisible ? 'visible' : 'hidden';
        card.style.position = isVisible ? 'relative' : 'absolute';
        
        if (isVisible) visibleCount++;
      });
  
      // --- Show/Hide "No Properties Found" Message ---
      noPropMessage.style.display = visibleCount === 0 ? 'block' : 'none';
    });
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </script>
</body>



<script src>
document.getElementById("expand-icon").addEventListener("click", function() {
  var alertBox = document.querySelector(".alert-box");
  alertBox.classList.toggle("expanded");
});


</script>

<script>


window.addEventListener('DOMContentLoaded',()=>{
})
</script>


<script src="./asset/js/main.js"></script>
</html>
