{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buysel-Admin</title>
    <link rel="stylesheet" href="{% static 'css/developer.css' %}" />
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon" />
    <script src="{% static 'js/developer.js' %}"></script>
    <style>
      a{
        font-size: 1rem;
      }
      h3{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="admin-panel clearfix">
      <div class="slidebar">
        <div class="logo-img">
          <a href=""><img src="{% static 'img/B PNG.png' %}" alt=""></a>
        </div>
        <ul>
          <li><a href="#dashboard" >dashboard</a></li>
          <h3>Developer</h3>
          <li><a href="{% url 'admin_panel' %}#house">House</a></li>
          <li><a href="{% url 'admin_panel' %}#land">Land</a></li>
          <li><a href="{% url 'admin_panel' %}#commercial">Commercials</a></li>
          <li><a href="{% url 'admin_panel' %}#offplan">Off Plans</a></li>
          <li><a href="{% url 'admin_panel' %}#agents_register">Agents Register</a></li>
          <li><a href="{% url 'admin_panel' %}#propertyregister">Property Register</a></li>
          
        </ul>
        <ul>
         
          <h3>Agents</h3>
          <li><a href="{% url 'admin_panel' %}#login">Logins</a></li>
          <li><a href="{% url 'admin_panel' %}#profile">Profile</a></li>
          <li><a href="{% url 'admin_panel' %}#agenthouse">House</a></li>
          <li><a href="{% url 'admin_panel' %}#agentland">Land</a></li>
          <li><a href="{% url 'admin_panel' %}#agentcommericial">Commercials</a></li>
          <li><a href="{% url 'admin_panel' %}#agentoffplan">Off Plans</a></li>

          <li><a href="{% url 'admin_panel' %}#blog">Blog</a></li>
         
          <li><a href="{% url 'admin_panel' %}#inbox">Inbox</a></li>
        </ul>
      </div>
      <div class="main">
        <ul class="topbar clearfix">
         
          <li><a href="#"><h2>Buysel Administration</h2></a></li>
          
          <li><a href="{% url 'superuser_logout' %}"><h2 style="color: red;">Logout</h2></a></li>
        </ul>
        

          {% block content %} {% endblock %}
        </div>
       
      </div>
      
    </div>
  </body>
</html>
