{% extends "base2.html" %}
{% load static %}
{% block content %}

<h4>Edit Blog</h4>
<div class="form_box">
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="text" name="blog_head" value="{{ blog.blog_head }}" required><br>
  <input type="text" name="modal_head" value="{{ blog.modal_head }}" required><br>
  <input type="date" name="date" value="{{ blog.date|date:'Y-m-d' }}" required><br>
  <textarea name="card_paragraph" required>{{ blog.card_paragraph }}</textarea><br>
  <textarea name="modal_paragraph" required>{{ blog.modal_paragraph }}</textarea><br>
  <img src="{{ blog.image.url }}" width="100"><br>
  <input type="file" name="image"><br>
  <button type="submit">Update</button>
</form>
</div>

{% endblock %}
