{% extends "base1.html" %}
{% load static %}


{% block content %}
<div class="content">
  <h1>{{ house.Caption }}</h1>
  <div class="row pt-5">
    <div class="col-lg-6 col-md-12">
      
      <p><strong>Price:</strong> {{ house.price }}</p>
      <p><strong>Total Land:</strong> {{ house.total_land }}</p>
      <p><strong>Area:</strong> {{ house.house_area }}</p>
      <p><strong>Address:</strong> {{ house.address }}</p>
      <p><strong>Description:</strong> {{ house.description }}</p>
  </div>
  
  <!-- Right Column for House Details -->
  <div class="col-lg-6 col-md-12">
      <p><strong>Land Mark:</strong> {{ house.land_mark }}</p>
      <p><strong>Bedroom:</strong> {{ house.Bedroom }}</p>
      <p><strong>Bathroom:</strong> {{ house.Bathroom }}</p>
      <p><strong>Allowed Persons:</strong> {{ house.allowed_persons }}</p>
      <p><strong>Security Deposit:</strong> {{ house.sequirity_deposit }}</p>
      <p><strong>Time Period:</strong> {{ house.Time_perioud }}</p>
      <p><strong>Gender:</strong> {{ house.gender }}</p>
      <p><strong>Location:</strong> {{ house.location }}</p>
  </div>
  </div>
  <div class="detail-img">
    <div class="row pt-5">
      {% for image in house.images.all %}
      <div class="col-lg-3">
        <img src="{{ image.image.url }}" alt="House Image">
      </div>
      {% endfor %}
    </div>
  </div>
            <!-- House Images -->
           
                
            

            <!-- Action Links -->
            <div class="pt-5 mb-5">
              <a href="{% url 'house-list' %}" class="btn-back"><button class="back-btn">Back to House List</button> </a>

                <a href="{% url 'house-update' pk=house.pk %}" > <button class="update-btn">Update House</button> </a>
            </div>
        </div>

{% endblock %}







